

<div class="col-lg-12  m-t-lg">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4>DOCUMENTAÇÃO</h4>

        </div>
        <div class="ibox-content">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th  class="col-xs-2">Calendário</th>
                        <th  class="col-xs-11">Carta Rematrícula</th>
                       
                           
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fa fa-file-pdf-o  fa-2x color-red" aria-hidden="true"></i></td>
                        <td><i class="fa fa-file-pdf-o  fa-2x color-red" aria-hidden="true"></i></td>
                        
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Cursos  -->
<div class="col-lg-12  m-t-lg">
    <div class="ibox float-e-margins">
        
        <div class="ibox-content">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ano</th>
                        <th>Período</th>
                        <th>Nível</th>
                        <th>Média</th>
                        <th>Resultado</th>
                        <th>Quant. Faltas</th>
                        <th>Boletim</th>
                        <th>Material</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2017</td>
                        <td>1 Semestre</td>
                        <td>FL2</td>

                        <td>9</td>
                        <td>APROVADO</td>
                        <td>0</td>
                        <td></td>
                        <td><i class="fa fa-barcode fa-2x" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>2 Semestre</td>
                        <td>T2</td>

                        <td>8</td>
                        <td>APROVADO</td>
                        <td>2</td>
                        <td></td>
                       <td><i class="fa fa-barcode fa-2x" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td>1 Semestre</td>
                        <td>T1</td>
                        <td>7</td>
                        <td>APROVADO</td>
                        <td>3</td>
                        <td></td>
                        <td><i class="fa fa-barcode fa-2x" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
