
<div class="row  m-t-lg">

    <div class="col-md-10 col-md-offset-1">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" heading="DÚVIDAS ACADÊMICAS">
                <h4 class="list-group-item-heading">O PROFESSOR FALA SÓ INGLÊS NA CLASSE?</h4>
                <p class="list-group-item-text">
                    Sim, esta é a proposta. A Cultura estimula a comunicação em inglês em todos os níveis para que, desde o início, o aluno aprenda
                    a lidar de uma forma natural com o idioma. Para facilitar a compreensão deste novo idioma, o professor
                    faz uso de situações contextualizadas e vocabulário adequado ao estágio em questão. Em pouco tempo e
                    naturalmente os alunos adquirem confiança e também passam a se comunicar só em inglês.
                </p>
                <br>
                <h4 class="list-group-item-heading">UANDO COMEÇAM AS AULAS?</h4>
                <p class="list-group-item-text">
                    O início das aulas varia de acordo com a sua opção de turma. Verifique as datas em nosso calendário. Os preços, locais e
                    datas de inscrição dos cursos e exames podem ser obtidos em qualquer unidade da Cultura Inglesa.
                </p>
            </div>

            <div uib-accordion-group class="panel-default" heading="DÚVIDAS FINANCEIRAS">
                <h4 class="list-group-item-heading">Atenção</h4>
                <p class="list-group-item-text">
                    A parcela número 00000002 no nível FL2 no valor de R$ 350,00 da Filial Mooca irá vencer dia 31/01/2017. Até o momento não
                    acusamos o recebimento da sua parcela de número 000000001 do nível FL2 no valor de R$ 350,00 da Filial
                    Mooca vencida dia 20/01/2017.
                </p>
            </div>


        </uib-accordion>
    </div>

</div>